<%= form_for(@task) do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :details %>
  <%= f.text_field :details %>
</p>

 <%= f.check_box :completed %>
 <%= f.label :completed %>

<p>
  <%= f.submit %>
</p>

<% end %>
